In [1]:
import pandas as pd

In [2]:
walk_df = pd.read_csv('../data/walkability_index.csv')

In [7]:
davidson_walk = walk_df.loc[walk_df['CBSA'] == 34980.0]

In [8]:
davidson_walk

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
200131,200132,4.711200e+11,4.711200e+11,47,111,970200,2,400.0,"Nashville-Davidson--Murfreesboro, TN",34980.0,...,-99999.000000,-99999.000000,-99999.000000,2,2,3,1,2.000000,34253.467210,5.902881e+07
200135,200136,4.711900e+11,4.711900e+11,47,119,11102,2,400.0,"Nashville-Davidson--Murfreesboro, TN",34980.0,...,-99999.000000,-99999.000000,-99999.000000,19,17,6,1,8.333333,9830.493914,4.389023e+06
200144,200145,4.711900e+11,4.711900e+11,47,119,10700,3,400.0,"Nashville-Davidson--Murfreesboro, TN",34980.0,...,-99999.000000,-99999.000000,-99999.000000,3,13,17,1,8.666667,3539.284265,5.296469e+05
200145,200146,4.711900e+11,4.711900e+11,47,119,10700,5,400.0,"Nashville-Davidson--Murfreesboro, TN",34980.0,...,-99999.000000,-99999.000000,-99999.000000,20,16,13,1,10.666667,3880.242530,7.402810e+05
200146,200147,4.711900e+11,4.711900e+11,47,119,11002,4,400.0,"Nashville-Davidson--Murfreesboro, TN",34980.0,...,-99999.000000,-99999.000000,-99999.000000,13,19,10,1,9.000000,7033.477666,2.691892e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204223,204224,4.718710e+11,4.718710e+11,47,187,50403,1,400.0,"Nashville-Davidson--Murfreesboro, TN",34980.0,...,-99999.000000,-99999.000000,-99999.000000,4,9,6,1,4.500000,11074.821510,4.973929e+06
204231,204232,4.703700e+11,4.703700e+11,47,37,10401,1,400.0,"Nashville-Davidson--Murfreesboro, TN",34980.0,...,0.092430,0.002157,0.115622,18,10,13,13,13.333333,10906.475240,5.791214e+06
204232,204233,4.703700e+11,4.703700e+11,47,37,10401,2,400.0,"Nashville-Davidson--Murfreesboro, TN",34980.0,...,0.124566,0.001945,0.104250,20,16,15,18,17.000000,7054.154629,1.976431e+06
204233,204234,4.703700e+11,4.703700e+11,47,37,10402,3,400.0,"Nashville-Davidson--Murfreesboro, TN",34980.0,...,0.112773,0.002311,0.123888,17,11,9,14,12.333333,5579.498494,9.930044e+05
204234,204235,4.703700e+11,4.703700e+11,47,37,10402,4,400.0,"Nashville-Davidson--Murfreesboro, TN",34980.0,...,0.113024,0.002504,0.134237,3,2,12,18,10.833333,3127.173304,4.088127e+05

In [11]:
assessment_df = pd.read_csv('../data/school_assessment.csv')

In [12]:
assessment_df

,year,system,system_name,school,school_name,test,subject,grade,student_group,participation_rate,...,valid_tests,n_below,n_approaching,n_met_expectations,n_exceeded_expectations,pct_below,pct_approaching,pct_met_expectations,pct_exceeded_expectations,pct_met_exceeded
0,2022,10,Anderson County,2,Anderson County High School,EOC,Algebra I,10,All Students,98,...,40,**,**,**,**,**,**,**,**,**
1,2022,10,Anderson County,2,Anderson County High School,EOC,Algebra I,10,Black/Hispanic/Native American,*,...,3,*,*,*,*,*,*,*,*,*
2,2022,10,Anderson County,2,Anderson County High School,EOC,Algebra I,10,Economically Disadvantaged,94,...,17,**,**,**,**,**,**,**,**,**
3,2022,10,Anderson County,2,Anderson County High School,EOC,Algebra I,10,English Learners,*,...,2,*,*,*,*,*,*,*,*,*
4,2022,10,Anderson County,2,Anderson County High School,EOC,Algebra I,10,English Learners with Transitional 1-4,*,...,2,*,*,*,*,*,*,*,*,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675529,2022,987,Tennessee Public Charter School Commission,8030,Nashville Collegiate Prep,TNReady,Science,All Grades,Non-English Learners/Transitional 1-4,96,...,71,**,**,**,**,**,**,**,**,23.9
675530,2022,987,Tennessee Public Charter School Commission,8030,Nashville Collegiate Prep,TNReady,Science,All Grades,Non-Students with Disabilities,96,...,102,**,**,**,**,**,**,**,**,22.5
675531,2022,987,Tennessee Public Charter School Commission,8030,Nashville Collegiate Prep,TNReady,Science,All Grades,Students with Disabilities,*,...,5,*,*,*,*,*,*,*,*,*
675532,2022,987,Tennessee Public Charter School Commission,8030,Nashville Collegiate Prep,TNReady,Science,All Grades,Super Subgroup,96,...,91,**,**,**,**,**,**,**,**,19.8
675533,2022,987,Tennessee Public Charter School Commission,8030,Nashville Collegiate Prep,TNReady,Science,All Grades,White,97,...,33,**,**,**,**,**,**,**,**,15.2

In [13]:
davidson_schools = assessment_df.loc[assessment_df['system_name'] == 'Davidson County']

In [14]:
len(davidson_schools)

57450

In [15]:
davidson_schools.describe()

,year,system,school,enrolled,tested,valid_tests
count,57450.0,57450.0,57450.000000,57450.000000,57450.000000,57450.000000
mean,2022.0,190.0,1962.471802,45.280940,43.281497,41.756658
std,0.0,0.0,3116.318916,76.267506,72.725147,69.850587
min,2022.0,190.0,1.000000,0.000000,0.000000,0.000000
25%,2022.0,190.0,255.000000,2.000000,2.000000,2.000000
50%,2022.0,190.0,456.000000,13.000000,12.000000,12.000000
75%,2022.0,190.0,704.000000,60.000000,57.000000,56.000000
max,2022.0,190.0,8105.000000,851.000000,822.000000,792.000000

In [20]:
davidson_schools.loc[davidson_schools['n_below'] != '*']

,year,system,system_name,school,school_name,test,subject,grade,student_group,participation_rate,...,valid_tests,n_below,n_approaching,n_met_expectations,n_exceeded_expectations,pct_below,pct_approaching,pct_met_expectations,pct_exceeded_expectations,pct_met_exceeded
86835,2022,190,Davidson County,1,A. Z. Kelley Elementary,TNReady,ELA,3,All Students,95,...,139,**,**,**,**,**,**,**,**,18.7
86836,2022,190,Davidson County,1,A. Z. Kelley Elementary,TNReady,ELA,3,Asian,100,...,25,**,**,**,**,**,**,**,**,16
86837,2022,190,Davidson County,1,A. Z. Kelley Elementary,TNReady,ELA,3,Black or African American,93,...,49,**,**,**,**,**,**,**,**,16.3
86838,2022,190,Davidson County,1,A. Z. Kelley Elementary,TNReady,ELA,3,Black/Hispanic/Native American,94,...,77,**,**,**,**,**,**,**,**,15.6
86839,2022,190,Davidson County,1,A. Z. Kelley Elementary,TNReady,ELA,3,Economically Disadvantaged,94,...,47,**,**,**,**,**,**,**,**,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144195,2022,190,Davidson County,8105,KA @ The Crossings,TNReady,Social Studies,All Grades,Non-Economically Disadvantaged,91,...,55,**,**,**,**,**,**,**,**,14.5
144196,2022,190,Davidson County,8105,KA @ The Crossings,TNReady,Social Studies,All Grades,Non-English Learners/Transitional 1-4,92,...,46,**,**,**,**,**,**,**,**,26.1
144197,2022,190,Davidson County,8105,KA @ The Crossings,TNReady,Social Studies,All Grades,Non-Students with Disabilities,95,...,73,**,**,**,**,**,**,**,**,16.4
144199,2022,190,Davidson County,8105,KA @ The Crossings,TNReady,Social Studies,All Grades,Super Subgroup,93,...,76,**,**,**,**,**,**,**,**,14.5
144200,2022,190,Davidson County,8105,KA @ The Crossings,TNReady,Social Studies,All Grades,White,94,...,15,**,**,**,**,**,**,**,**,13.3

In [22]:
davidson_schools['test'].value_counts()

test
TNReady                            30455
MSAA/Alt-Science/Social Studies    13716
EOC                                13279
Name: count, dtype: int64

In [23]:
tn_walk = walk_df.loc[walk_df['STATEFP'] == 47]

In [24]:
tn_walk

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
200128,200129,4.712510e+11,4.712510e+11,47,125,100100,1,NaN,NaN,17300.0,...,-99999.000000,-99999.000000,-99999.000000,20,20,18,1,13.000000,4829.941027,1.288074e+06
200129,200130,4.712510e+11,4.712510e+11,47,125,100200,1,NaN,NaN,17300.0,...,-99999.000000,-99999.000000,-99999.000000,12,18,16,1,10.666667,4642.534449,7.015799e+05
200130,200131,4.712510e+11,4.712510e+11,47,125,100200,2,NaN,NaN,17300.0,...,-99999.000000,-99999.000000,-99999.000000,16,14,11,1,9.000000,7197.832631,2.049578e+06
200131,200132,4.711200e+11,4.711200e+11,47,111,970200,2,400.0,"Nashville-Davidson--Murfreesboro, TN",34980.0,...,-99999.000000,-99999.000000,-99999.000000,2,2,3,1,2.000000,34253.467210,5.902881e+07
200132,200133,4.712510e+11,4.712510e+11,47,125,100300,1,NaN,NaN,17300.0,...,-99999.000000,-99999.000000,-99999.000000,9,11,8,1,6.333333,7814.735482,2.059019e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204248,204249,4.709300e+11,4.709300e+11,47,93,5201,3,315.0,"Knoxville-Morristown-Sevierville, TN",28940.0,...,-99999.000000,-99999.000000,-99999.000000,4,10,5,1,4.333333,17452.323690,1.416206e+07
204249,204250,4.709300e+11,4.709300e+11,47,93,5809,2,315.0,"Knoxville-Morristown-Sevierville, TN",28940.0,...,-99999.000000,-99999.000000,-99999.000000,17,17,9,1,9.000000,8057.729949,3.993630e+06
204250,204251,4.709300e+11,4.709300e+11,47,93,3400,1,315.0,"Knoxville-Morristown-Sevierville, TN",28940.0,...,0.364903,0.009781,0.389103,17,11,8,13,11.666667,11346.639650,3.803762e+06
204251,204252,4.709300e+11,4.709300e+11,47,93,1400,3,315.0,"Knoxville-Morristown-Sevierville, TN",28940.0,...,0.372990,0.010883,0.432933,4,2,15,19,12.333333,3583.956858,3.170859e+05
204252,204253,4.715700e+11,4.715700e+11,47,157,21746,2,368.0,"Memphis-Forrest City, TN-MS-AR",32820.0,...,0.050955,0.000826,0.125856,6,15,12,13,11.833333,4517.308781,8.635427e+05

In [25]:
tn_walk['CSA_Name'].value_counts()

CSA_Name
Nashville-Davidson--Murfreesboro, TN     1080
Memphis-Forrest City, TN-MS-AR            696
Knoxville-Morristown-Sevierville, TN      667
Chattanooga-Cleveland-Dalton, TN-GA       394
Johnson City-Kingsport-Bristol, TN-VA     277
Jackson-Brownsville, TN                   146
Martin-Union City, TN                      53
Name: count, dtype: int64

In [29]:
resources_df = pd.read_csv('../data/resource_mapping_by_county.csv')

In [30]:
resources_df

,Year,Agency_ID,Agency_Name,Program_Name,County_District,Calculation_Method,Children Served,Expenditure
0,2015,DCS,Department of Children's Services,Custody & Truancy Prevention,Benton,Actual,250,"$92,617"
1,2015,DCS,Department of Children's Services,Custody & Truancy Prevention,Blount,Actual,20,"$98,668"
2,2015,DCS,Department of Children's Services,Custody & Truancy Prevention,Bradley,Actual,42,"$66,581"
3,2015,DCS,Department of Children's Services,Custody & Truancy Prevention,Carroll,Actual,152,"$643,884"
4,2015,DCS,Department of Children's Services,Custody & Truancy Prevention,Crockett,Actual,50,"$123,337"
...,...,...,...,...,...,...,...,...
29363,2022,DOE,Department of Education,NaN,Weakley,Estimate,3946,"$23,267,000"
29364,2022,DOE,Department of Education,NaN,White,Estimate,3756,"$23,450,000"
29365,2022,DOE,Department of Education,NaN,Williamson,Estimate,44244,"$159,353,000"
29366,2022,DOE,Department of Education,NaN,Wilson,Estimate,22483,"$107,237,000"
29367,Note: '*' means either data are not reported...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
resources_df.rename(columns = {'Expenditure': 'amount'})

,Year,Agency_ID,Agency_Name,Program_Name,County_District,Calculation_Method,Children Served,Expenditure
0,2015,DCS,Department of Children's Services,Custody & Truancy Prevention,Benton,Actual,250,"$92,617"
1,2015,DCS,Department of Children's Services,Custody & Truancy Prevention,Blount,Actual,20,"$98,668"
2,2015,DCS,Department of Children's Services,Custody & Truancy Prevention,Bradley,Actual,42,"$66,581"
3,2015,DCS,Department of Children's Services,Custody & Truancy Prevention,Carroll,Actual,152,"$643,884"
4,2015,DCS,Department of Children's Services,Custody & Truancy Prevention,Crockett,Actual,50,"$123,337"
...,...,...,...,...,...,...,...,...
29363,2022,DOE,Department of Education,NaN,Weakley,Estimate,3946,"$23,267,000"
29364,2022,DOE,Department of Education,NaN,White,Estimate,3756,"$23,450,000"
29365,2022,DOE,Department of Education,NaN,Williamson,Estimate,44244,"$159,353,000"
29366,2022,DOE,Department of Education,NaN,Wilson,Estimate,22483,"$107,237,000"
29367,Note: '*' means either data are not reported...,NaN,NaN,NaN,NaN,NaN,NaN,NaN